html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;

  font-family: "Shadows Into Light", cursive;
}

h1,
h2 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  text-align: center;
  font-size: 25px;
}

html {
  background-color: rgb(93 111 99);
}

body {
  width: 950px;
  margin: 0 auto;
  background-color: #855d3a;
  padding: 0 20px 20px 20px;
  border: 2px solid black;
}

h1,
h2 {
  margin: 0;
  padding: 20px 0;
  color: #618146;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 70%;
}
